<!DOCTYPE html>
<html lang="en">
<head> <!--영차 이미지 없음! -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/login_pre.css">
    <title>Young-Cha HOME</title>
</head>
<body>
    <body>
        <div class="v203_42">
            <div class="v203_43"></div>
            <div class="v203_44"></div>
            <div class="v203_45"></div>
            <a href="{% url 'login' %}">
                <span class="v203_46">로그인/회원가입</span> 
            </a>
            <div class="v203_48">
                <div class="v203_49">
                    <div class="v203_50"></div>
                    <div class="v203_51">
                        <span class="v203_52">이사 견적 내기</span>
                    </div>
                </div>
                <div class="v203_53">
                    <div class="v203_54"></div>
                    <div class="v203_55">
                        <span class="v203_56">나눔 장터</span>
                    </div>
                </div>
                <div class="v203_57">
                    <div class="v203_58"></div>
                    <span class="v203_59">고수의 꿀팁</span>
                </div>
                <div class="v203_60">
                    <div class="v203_61"></div>
                    <span class="v203_62">초보 이사러의 궁금증</span>
                </div>
                <div class="v203_63">
                    <div class="v203_64"></div>
                    <span class="v203_65">우리 동네 이야기</span>
                </div>
            </div>
            <span class="v203_66">영차는 소형이사를 집중적으로 하고 있어 포장이사와 차량 이동 이사 서비스만을 제공하고 있습니다.</span>
            <div class="v203_67"></div>
            <!-- <div class="name"></div>
            <div class="name"></div> -->
            <div class="v203_76"></div>
            <div class="v203_77">나에게 맞는</div>
            <div class="v203_77_1">견적 리스트 받기</div>
            <div class="v203_78"></div>
            <div class="name"></div>
            <div class="v203_82"></div>
            <span class="v203_83">손쉬운 이사 견적</span>
            <!-- <span class="v203_84">손쉬운 이사 견적</span> -->
            <span class="v203_85">이사 초보도 쉽게 영차와 함께하는 소형 이사</span>
            <div class="v203_86">
                <div class="v203_87"></div>
                <span class="v203_88">나눔장터</span>
            </div><div class="v203_89">
                <div class="v203_90"></div>
                <span class="v203_91">초보 이사러의 궁금증</span>
            </div>
            <div class="v203_92">
                <div class="v203_93"></div>
                <span class="v203_94">고수의 꿀팁</span>
            </div>
            <div class="v203_95">
                <div class="v203_96"></div>
                <span class="v203_97">우리동네 이야기</span>
            </div>
            <div class="v203_98"></div>
            <div class="v203_99"></div>
            <div class="v203_100"></div>
            <div class="v203_101"></div>
            <div class="v203_102"></div>
            <div class="v203_103"></div>
            <div class="v203_104"></div>
            <div class="v203_105">
                <span class="v203_106">든든한 이사로 맘 편하게 </span>
            </div>
            <div class="v203_107">
                <span class="v203_108">활기찬 커뮤니티로 생기 넘치게 </span>
            </div>
            <div class="v203_109">
                <span class="v203_110">손쉬운 견적으로 여유롭게</span>
            </div>
            <div class="v203_111">
                <span class="v203_112">영차와 함께 하는 이유</span>
            </div>
            <div class="v203_113"></div>
            <div class="v203_114"></div>
            <div class="v203_115">
                <span class="v203_116">커뮤니티</span>
                <span class="v203_117">우리동네 이웃과 나누는 따스함</span>
            </div><span class="v203_118">체크리스트로 가기 </span>
            <span class="v203_119">이사 견적 내기 완료했다면</span>
        </div>
</body>
</html>