<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/login_after.css">
    <title>YoungCha</title>
</head>
<body><!--마이페이지에 로그아웃도 들어가야할듯 -->
    <div class="v64_308">
        <div class="v64_734"></div>
        <div class="v64_309"></div>
        <div class="v64_310"></div>
        <span class="v64_312">마이페이지</span>
        <div class="v64_313">
            <div class="v64_314">
                <div class="v64_315"></div>
                <div class="v64_316">
                    <span class="v64_317">이사 견적 내기</span>
                </div>
            </div>
            <div class="v64_318">
                <div class="v64_319"></div>
                <div class="v64_320">
                    <span class="v64_321">나눔 장터</span>
                </div>
            </div>
            <div class="v64_322">
                <div class="v64_323"></div>
                <span class="v64_324">고수의 꿀팁</span>
            </div>
            <div class="v64_325">
                <div class="v64_326"></div>
                <span class="v64_327">초보 이사러의 궁금증</span>
            </div>
            <div class="v64_328">
                <div class="v64_329"></div>
                <span class="v64_330">우리 동네 이야기</span>
            </div>
        </div>
        <span class="v64_521">영차는 소형이사를 집중적으로 하고 있어 포장이사와 차량 이동 이사 서비스만을 제공하고 있습니다.</span>
        <div class="v64_634"></div>
        <!-- <div class="name"></div>
        <div class="name"></div> -->
        <div class="v64_506"></div>
        <div class="v64_586">나에게 맞는</div>
        <div class="v64_586_1">견적 리스트 받기</div>
        <div class="v64_592"></div>
        <!-- <div class="name"></div> -->
        <div class="v64_628"></div>
        <span class="v64_640">손쉬운 이사 견적</span>
        <span class="v64_693">손쉬운 이사 견적</span>
        <span class="v64_641">이사 초보도 쉽게 영차와 함께하는 소형 이사</span>
        <div class="v64_652">
            <div class="v64_516"></div>
            <span class="v64_645">나눔장터</span>
        </div>
        <div class="v64_653">
            <div class="v64_513"></div>
            <span class="v64_646">초보 이사러의 궁금증</span>
        </div><div class="v64_654">
            <div class="v64_518"></div>
            <span class="v64_647">고수의 꿀팁</span>
        </div>
        <div class="v64_655">
            <div class="v64_517"></div>
            <span class="v64_648">우리동네 이야기</span>
        </div>
        <div class="v64_565"></div>
        <div class="v64_72"></div>
        <div class="v64_730">
            <img src="/static/img/logoman.png"> 
        </div>
        <div class="v64_735"></div>
        <div class="v64_738"></div>
        <div class="v64_739"></div>
        <div class="v64_353"></div>
        <div class="v64_701">
            <span class="v64_702">든든한 이사로 맘 편하게 </span>
        </div>
        <div class="v64_703">
            <span class="v64_704">활기찬 커뮤니티로 생기 넘치게 </span>
        </div>
        <div class="v64_697">
            <span class="v64_698">손쉬운 견적으로 여유롭게</span>
        </div>
        <div class="v64_694">
            <span class="v64_695">영차와 함께 하는 이유</span>
        </div>
        <div class="v64_736"></div>
        <div class="v64_1098"></div>
        <div class="v64_1099">
            <span class="v64_1100">커뮤니티</span>
            <span class="v64_1101">우리동네 이웃과 나누는 따스함</span>
        </div>
        <span class="v64_1409">체크리스트로 가기 </span>
        <span class="v64_1411">이사 견적 내기 완료했다면</span>
    </div>
</body>
</html>