<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">
    <title>YoungCha</title>
</head>
<body>
    <div class="HeadWrapper">
        <span class="title">회원가입</span>
    <div class="Wrapper">
      <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <p>username</p>
        <input type="text" name="username"
        placeholder="아이디를 입력해주세요">
        <br>
        <p>password</p>
        <input type="text" name="password"
        placeholder="비밀번호를 입력해주세요">
        <br>
        <p>confirm</p>
        <input type="text" name="confirm" 
        placeholder="비밀번호를 다시 입력해주세요">
        <br>
        <input type="submit" value="회원가입">
      </form>
    </div>
  </body>
</html>